@model IEnumerable<MonitoraggioPAC25_27.Models.Progetti>

@{
    ViewData["Title"] = "Gestione progett";
}

<h1>GESTIONE Progetti</h1>

<p>
    <a asp-action="NuovoProgetto" asp-controller="Progetti" class="btn btn-primary">Nuovo progetto</a>
</p>
@if (Model == null)
{
    <span>nessuna scheda abilitata</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdScheda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodProgetto)
                </th>
                <th>
                     @Html.DisplayNameFor(model => model.Progetto) 

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSchedaNavigation.CodScheda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProgetto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progetto)
                    </td>

                    <td>
                        <a asp-action="EliminaProgetto" asp-route-id="@item.idProgetto">Elimina</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}