@model MonitoraggioPAC25_27.Models.Output

@{
    ViewData["Title"] = "Delete";
}

<h1>CANCELLAZIONE OUTPUT</h1>

<h3>Sei sicuro di cancellare l'output?</h3>
<div>
    <h4>Output</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CodPriorita)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodPriorita)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ObiettivoRete)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ObiettivoRete)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RisultatiAttesi)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RisultatiAttesi)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CodTipoOutput)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodTipoOutput)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CodOutputCompleto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodOutputCompleto)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OutputDescrizione)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OutputDescrizione)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OutputProgrammato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OutputProgrammato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OutputRealizzato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OutputRealizzato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOutputNonProgrammato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOutputNonProgrammato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOutputProgrammato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOutputProgrammato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOutputRealizzato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOutputRealizzato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOutputNonProgrammato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOutputNonProgrammato)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OutputAllegato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OutputAllegato)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OutputLink)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OutputLink)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoteOutputResponsabileEnte)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoteOutputResponsabileEnte)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ParereResponsabileMinistero)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ParereResponsabileMinistero)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MotivazioneResponsabileMinistero)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MotivazioneResponsabileMinistero)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Comunicazione)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comunicazione)
        </dd>
@*         <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CodTemaNavigation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodTemaNavigation.CodTema)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdProgettoNavigation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdProgettoNavigation.idProgetto)
        </dd> *@
    </dl>
    
    <form asp-action="EliminaOutput">
        <input type="hidden" asp-for="IdOutput" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="ElencoOutput">Torna a elenco output</a>
    </form>
</div>
